body{
margin: 0;
padding: 0;
}

a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
letter-spacing: 1px;
}

/* contains the page title and short description */
#header{
width: 100%;
margin-top: 3%;
text-align: center;
}

/* content container for everything between the header and footer */
#content{
width: 100%;
margin-top: 5%;
}

#book{
width: 100%;
float: left;
overflow: hidden;
background-image: url('./images/book.png');
background-repeat: no-repeat;
background-position: center; 
}

/* div to hold links on the left page */
.leftPage{
float: left;
margin-left: 5%;
padding: 5%;
width: 30%;
background-color: rgb(226,214,160);
}

/* div to hold links on the right page */
.rightPage{
float: right;
margin-right: 5%;
padding: 5%;
width: 30%;
background-color: rgb(226,214,160);
}